.btn {
  background: $btn--default-background;
  border: 1px solid darken($btn--default-background, 5%);
  border-radius: 4px;
  color: $dark-text;
  font-size: 0.9em;
  padding: 8px 24px;
  transition: all 0.25s ease-out;

  &+.btn {
    margin-left: 8px;
  }

  a {
    color: $dark-text;
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.6;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background: darken($btn--default-background, 5%);
    border-color: darken($btn--default-background, 10%);
    cursor: pointer;
    outline: none;
  }

  &.primary {
    background: $btn--primary-background;
    border-color: darken($btn--primary-background, 5%);
    color: $dark-text;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background: darken($btn--primary-background, 5%);
      border-color: darken($btn--primary-background, 8%);
    }

    a {
      color: $dark-text;
    }
  }

  &.highlight {
    background: $btn--highlight-background;
    border-color: darken($btn--highlight-background, 5%);
    color: $dark-text;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background: darken($btn--highlight-background, 5%);
      border-color: darken($btn--highlight-background, 8%);
    }

    a {
      color: $dark-text;
    }

    &--active {
      background: $btn--highlight-active-background;
      border-color: lighten($btn--highlight-active-background, 5%);

      &:not(:disabled):hover,
      &:not(:disabled):focus {
        background: lighten($btn--highlight-active-background, 5%);
        border-color: lighten($btn--highlight-active-background, 8%);
      }
    }
  }

  &.success {
    background: $btn--success-background;
    border-color: darken($btn--success-background, 3%);
    color: $light-text;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background: darken($btn--success-background, 5%);
      border-color: darken($btn--success-background, 8%);
    }

    a {
      color: $light-text;
    }
  }

  &.danger {
    background: $btn--danger-background;
    border-color: darken($btn--danger-background, 5%);
    color: $light-text;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background: darken($btn--danger-background, 5%);
      border-color: darken($btn--danger-background, 8%);
    }

    a {
      color: $light-text;
    }
  }

  &.export {
    position: relative;
    padding: 10px 24px 10px 36px;
    text-align: center;
    background: $btn--action-background;
    border-color: lighten($btn--action-background, 5%);
    color: $light-text;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background: lighten($btn--action-background, 8%);
      border-color: lighten($btn--action-background, 10%);
    }

    a {
      color: $light-text;
    }

    &:before,
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 15px;
      top: 55%;
    }

    /* Download box shape  */
    &:before {
      width: 10px;
      height: 2px;
      border-style: solid;
      border-width: 0 2px 2px;
    }

    /* Download arrow shape */
    &:after {
      width: 0;
      height: 0;
      margin-left: 3px;
      margin-top: -7px;

      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: transparent;
      border-top-color: #fefefe;
    }

    &:hover, &:focus {
      &:before {
        border-color: $btn--success-background;
      }

      &:after {
        border-top-color: $btn--success-background;
      }
    }

    &:hover

    &:active {
      margin-top: -4px;
    }
  }
}
