.form {
  background: $box-background;
  border: 1px solid darken($box-background, 5%);
  box-shadow: $app-box-shadow;
  padding: 1em 0;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.form-title {
  margin: 1em 0 2em;
  text-align: center;
}

.actions-row {
  display: flex;
  align-items: center;

  &:nth-child() {
    flex: 50%;
  }
}

.actions-bar {
  display: flex;
  font-size: 0.8em;
  padding: 8px 16px 8px 0;
}

.search-bar {
  align-items: center;
  background: $search-row-background;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  margin-bottom: 1em;
  margin-left: auto;
  min-width: 250px;
  padding: 8px 16px;
  width: 30%;

  input {
    outline: none;
    flex: 0 0 calc(100% - 130px);
    padding: 8px 20px;
  }

  label {
    flex: 0 0 72px;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 8px 4px 8px 0
  }

  .tooltip {
    margin: 0 4px;
  }

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.form-row {
  display: flex;
  margin: 2em;
  padding: 0 1em;

  label {
    flex: 1 0 120px;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: lighten($dark-text, 10%);
    max-width: 120px;
    padding: 8px 4px 8px 0;
    white-space: nowrap;
  }

  textarea {
    transition: all 200ms ease-in;
  }

  input,
  textarea {
    align-content: center;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: $dark-text;
    display: inline-block;
    flex: 1;
    font-size: 0.8em;
    font-family: $content-font-family;
    outline: none;
    padding: 8px;
    width: 100%;

    &:focus {
      border: 1px solid #8b8b8b;
    }
  }

  textarea {
    transition: all 200ms ease;
    overflow: hidden;
    /*overflow is set to auto at max height using JS */
    min-height: 5em;
    max-height: 50vh;
  }

  .message {
    border-radius: 4px;
    color: white;
    padding: 8px 0;
    margin-left: 1em;
    vertical-align: middle;

    &.error {
      color: #f99c36;
    }

    &.success {
      color: $btn--success-background;
    }

    &.link {
      font-size: 0.8em;
      line-height: 1.2em;
      margin-left: auto;
    }
  }
}
