.form {
  background: $box-background;
  border: 1px solid darken($box-background, 5%);
  box-shadow: $app-box-shadow;
  padding: 1em 0;
  text-align: left;
  width: 100%;
  max-width: 768px;
}

.form-title {
  margin: 1em 0 2em;
  text-align: center;
}

.form-row {
  display: flex;
  margin: 2em;
  padding: 0 1em;
  label {
    flex: 1 0 120px;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: lighten($dark-text, 10%);
    max-width: 120px;
    padding: 8px 4px 8px 0;
    white-space: nowrap;
  }
  textarea {
    transition: all 200ms ease-in;
  }
  input,
  textarea {
    align-content: center;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: $dark-text;
    display: inline-block;
    flex: 1;
    font-size: 0.8em;
    font-family: $content-font-family;
    outline: none;
    padding: 8px;
    width: 100%;
    &:focus {
      border: 1px solid #8b8b8b;
    }
  }
  .message {
    border-radius: 4px;
    color: white;
    padding: 8px 0;
    margin-left: 1em;
    vertical-align: middle;
    &.error {
      color: #f99c36;
    }
    &.success {
      color: $btn--success-background;
    }
    &.link {
      font-size: 0.8em;
      line-height: 1.2em;
      margin-left: auto;
    }
  }
}