.pin {
  background: $app-highlight;
  border-radius: 50% 50% 50% 0;
  display: inline-block;
  height: 16px;
  margin: 0 8px;
  position: relative;
  transform: rotate(-45deg);
  width: 16px;

  &::after {
    background: #2F2F2F;
    border-radius: 50%;
    content: '';
    height: 8px;
    margin: 4px 0 0 4px;
    position: absolute;
    width: 8px;
  }
}
