body {
  overscroll-behavior: none;
}

.app {
  background: $app-background--fallback;
  background: $app-background;
  color: $dark-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;

  &__header {
    background: $nav-background;
    box-shadow: $app-box-shadow;
    position: fixed;
    width: 100%;
    z-index: 1;

    .content {
      display: flex;
      align-items: center;
      width: 90%;
      margin: 0 auto;
    }

    a {
      transition: all 0.25s ease-in-out;
    }
  }

  &__title {
    padding: 0 1em 0 0;
    color: $nav-active;

    a {
      color: $nav-text;
      text-decoration: none;
      border-bottom: 2px solid $nav-active;

      &:hover {
        border-bottom: 2px solid $nav-text;
        padding: 0 3px;
      }
    }
  }

  &__body {
    flex: 1;
    margin: 64px auto 0;
    padding: 1em 0;
    width: 90%;
  }

  &__footer {
    background: $footer-background;
    border-top: 1px solid darken($footer-background, 5%);
    color: $footer-color;
    font-size: 0.8em;
    padding: 1em 5%;
    display: flex;

    .suggestions-link {
      color: $footer-color;
      margin-left: auto;

      &:focus,
      &:hover {
        color: $footer-color;
      }
    }
  }
}
