.main-navigation {
  margin-left: auto;

  ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      color: $nav-text;
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 1em;

      &:last-of-type {
        padding-right: 0;
      }

      &:hover,
      &:focus {
        a {
          border-color: lighten($nav-active, 25%);
        }
      }

      a {
        border-bottom: 1px solid transparent;
        color: $nav-text;
        display: block;
        padding: 4px 2px;
        text-decoration: none;

        &.active {
          border-color: $nav-active;
        }
      }
    }
  }
}
