@media only screen and (max-width: 500px) {
  .app__header {
    flex-direction: column;
    .main-navigation {
      margin-left: 0;
    }
  }
  .form-row {
    flex-direction: column;
    label {
      flex: 0;
    }
  }
  .task {
    .remove-task {
      float: none;
    }
  }
}