.tasks {
  width: 100%;

  .no-tasks {
    //background-color: #2a2a72;
    //background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-radius: 16px;
    position: relative;
    color: $light-text;
    font-size: 24px;
    margin: 10% auto 16px;

    .circle {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: $app-background--fallback;
      animation-name: move-the-circle;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(.4, 1.21, .83, 1.16);
      transform-origin: center center;
    }

    @for $num from 1 through 8 {
      .circle:nth-child(#{$num}) {
        left: ($num + 1) * 48px;
        animation-delay: $num * .1s;
      }
    }
  }
}

@keyframes move-the-circle {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    background-color: $app-background--fallback;
  }

  50% {
    transform: translate(0, 50px) scale(.4);
    opacity: .5;
    background-color: darken($light-text, 5%);
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    background-color: darken($light-text, 10%);
  }
}

.task {
  background: $box-background;
  border: 1px solid darken($box-background, 5%);
  box-shadow: $app-box-shadow;
  color: $dark-text;
  margin-bottom: 1em;
  text-align: left;
  transition: $app-transition;
  padding: 1em;
  position: relative;

  .remove-task {
    float: right;
  }

  .pin-task {
    float: right;
  }

  .tags {
    align-self: center;
    display: flex;
    margin-left: auto;

    .tag {
      background: $tag-background;
      color: $light-text;
      font-size: 11px;
      padding: 4px;

      &+.tag {
        margin-left: 4px;
      }
    }
  }

  .actions-section {
    display: flex;
  }

  &__section {
    margin: 1em 0;

    h3 {
      color: lighten($dark-text, 10%);
    }

    p {
      &.long-text {
        padding-right: 1em;
        white-space: pre-wrap;
      }
    }
  }
}

.task__section+.task__section {
  margin-top: 2em;
}

.markdown-container {
  @media print {

    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " ("attr(href) ")";
    }

    abbr[title]:after {
      content: " ("attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }

  font-size: 12px;


  p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }

  h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }

  h2 {
    font-size: 2.827rem;
  }

  h3 {
    font-size: 1.999rem;
  }

  h4 {
    font-size: 1.414rem;
  }

  h5 {
    font-size: 1.121rem;
  }

  h6 {
    font-size: .88rem;
  }

  small {
    font-size: .707em;
  }

  /* https://github.com/mrmrs/fluidity */
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
  }

  color: #444;
  font-weight: 300;

  img {
    border-radius: 50%;
    height: 200px;
    margin: 0 auto;
    width: 200px;
  }

  a,
  a:visited {
    color: #3498db;
  }

  a:hover,
  a:focus,
  a:active {
    color: #2980b9;
  }

  pre {
    background-color: #fafafa;
    padding: 1rem;
    text-align: left;
  }

  blockquote {
    margin: 0;
    border-left: 5px solid #7a7a7a;
    font-style: italic;
    padding: 1.33em;
    text-align: left;
  }

  ul,
  ol,
  li {
    text-align: left;
  }

  p {
    color: #777;
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}
