.tasks {
  width: 100%;

  .no-tasks {
    //background-color: #2a2a72;
    //background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-radius: 16px;
    position: relative;
    color: $light-text;
    font-size: 24px;
    margin: 10% auto 16px;

    .circle {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: $app-background--fallback;
      animation-name: move-the-circle;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(.4, 1.21, .83, 1.16);
      transform-origin: center center;
    }

    @for $num from 1 through 8 {
      .circle:nth-child(#{$num}) {
        left: ($num + 1) * 48px;
        animation-delay: $num * .1s;
      }
    }
  }
}

@keyframes move-the-circle {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    background-color: $app-background--fallback;
  }

  50% {
    transform: translate(0, 50px) scale(.4);
    opacity: .5;
    background-color: darken($light-text, 5%);
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    background-color: darken($light-text, 10%);
  }
}

.task {
  background: $box-background;
  border: 1px solid darken($box-background, 5%);
  box-shadow: $app-box-shadow;
  color: $dark-text;
  margin-bottom: 1em;
  text-align: left;
  transition: $app-transition;
  padding: 1em;
  position: relative;

  .remove-task {
    float: right;
  }

  .pin-task {
    float: right;
  }

  .tags {
    align-self: center;
    display: flex;
    margin-left: auto;

    .tag {
      background: $tag-background;
      color: $light-text;
      font-size: 11px;
      padding: 4px;

      &+.tag {
        margin-left: 4px;
      }
    }
  }

  .actions-section {
    display: flex;
  }

  &__section {
    margin: 1em 0;

    h3 {
      color: lighten($dark-text, 10%);
    }

    p {
      &.long-text {
        padding-right: 1em;
        white-space: pre-wrap;
      }
    }
  }
}

.task__section+.task__section {
  margin-top: 2em;
}
