.task-list {
  width: 100%;
}

.task {
  background: $box-background;
  border: 1px solid darken($box-background, 5%);
  box-shadow: $app-box-shadow;
  color: $dark-text;
  margin-bottom: 2em;
  text-align: left;
  transition: all 250ms ease-out;
  padding: 1em;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    left: -1em;
    top: 1em;
    border: 0.5em solid transparent;
    border-right: 0.5em solid #fff;
    z-index: 3;
  }

  .remove-task {
    float: right;
  }

  &__section {
    margin: 1em 0;

    h3 {
      color: lighten($dark-text, 10%);
    }

    p {
      &.long-text {
        padding-right: 1em;
        white-space: pre-wrap;
      }
    }
  }
}

.task__section+.task__section {
  margin-top: 2em;
}