html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

p {
  font-size: 1em;
  line-height: 1.75;
  text-align: justify;
  text-justify: inter-word;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 2.9em;
  font-weight: bold;
}

h2,
h3 {
  font-size: 1em;
  line-height: 0.9em;
  font-weight: bold;
}