html {
  font-family: $content-font-family;
  font-size: 18px;
}

p {
  font-size: 1em;
  line-height: 1.75;
  text-align: justify;
  text-justify: inter-word;
}

h1,
h2,
h3 {
  font-family: $heading-font-family;
}

h1 {
  font-size: 2em;
  line-height: 1.8em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  line-height: 0.9em;
  font-weight: bold;
}

h3 {
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 8px 4px 8px 0;
}

a {
  color: $link-color;
  text-decoration: underline;
  
  &:hover, &:focus {
    color: darken($link-color, 5%);
  }
}