$light-text: #fefefe;
$dark-text:#202020;

$nav-background: #564f8f;

$btn--default-background: #fafafa;
$btn--primary-background:#564f8f;
$btn--success-background: #65b947;
$btn--danger-background: #bd3131;
