$light-text: #fefefe;
$dark-text:#525252;
$app-background: linear-gradient(to right, #ff9966, #ff5e62);
$app-background--fallback: ff9966;
$app-box-shadow: 0px 1px 2px 0 rgba(192, 192, 192, 0.3);
$link-color: #4067b3;

$nav-background: #ffffff;
$nav-text: $dark-text;
$nav-active: #51bd8a;

$heading-font-family: 'Montserrat', sans-serif;
$content-font-family: 'Roboto', sans-serif;

$footer-background: #fefefe;
$footer-color: #242424;

$btn--default-background: #0c0a0a;
$btn--primary-background:#f0f0f0;
$btn--success-background: #51bd8a;
$btn--danger-background: #b15c5c;

$box-background: #ffffff;
