$light-text: #fefefe;
$dark-text:#525252;
$app-background: linear-gradient(to right, #ff9966, #ff5e62);
$app-background--fallback: #ff9966;
$app-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.10);
$app-transition: all 0.5s cubic-bezier(.25,.8,.25,1);
$link-color: #4067b3;
$highlight: #ffd900;

$nav-background: #ffffff;
$nav-text: $dark-text;
$nav-active: #51bd8a;

$heading-font-family: 'Montserrat', sans-serif;
$content-font-family: 'Roboto', sans-serif;

$footer-background: #fefefe;
$footer-color: #242424;

$btn--default-background: #0c0a0a;
$btn--primary-background:#f0f0f0;
$btn--success-background: #51bd8a;
$btn--danger-background: #b15c5c;
$btn--highlight-background: #f0f0f0;
$btn--highlight-active-background: $highlight;
$btn--action-background: #333;
$btn--action-hover-border: #f0f0f0;

$search-row-background: #f0f0f0;

$tag-background: #4067b3;
$box-background: #ffffff;
$tooltip__icon-background: #a0a0a0;
$tooltip__icon-color: #ffffff;
$tooltip__text-background: #222222;
$tooltip__text-color: #ffffff;
