// TOOLTIP
.tooltip {
    position: relative;
    display: inline-block;
    color: $tq-tooltip__icon-color;
    cursor: help;
    background: $tq-tooltip__icon-background;
    padding: 2px 4px;
    border-radius: 50%;
    transition: all .2s ease;

    i {
        font-weight: bold;
        font-size: 12px;
        font-family: monospace;
    }

    &:hover {
        .tooltip-text {
            visibility: visible;
        }
    }
}

.tooltip-text {
    &::before {
        content: " ";
        position: absolute;
        left: calc(50% - 8px);
        top: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $tq-tooltip__text-background;
    }

    visibility: hidden;
    width: 120px;
    color: $tq-tooltip__text-color;
    background: $tq-tooltip__text-background;
    text-align: center;
    border-radius: 6px;
    padding: 4px 8px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: 50%;
    margin-left: -60px;
}
